apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  tssc/gitops: un5lfld26-python 
  janus-idp.io/tekton: un5lfld26-python
  backstage.io/kubernetes-id: un5lfld26-python
  backstage.io/kubernetes-namespace: tssc-app 
  app.kubernetes.io/part-of: un5lfld26-python
resources:
  - ci-tekton.yaml
  - application-dev.yaml
  - application-stage.yaml
  - application-prod.yaml